.bodygrid {
	display:grid;
	grid-template-columns: auto auto auto;
	width: 1200px;
	padding: 20px;
	margin:auto;}

.content {
	grid-area: 1 / 1 / span 1 / span 2;
	display: flex;
	justify-content: space-between;
	width: 850px;
	height: 500px;}
.bottompart {
	grid-area: 2 / 1 / span 1 / span 2;
	display: flex;
	width: 850px;}
.rightpart {
	grid-area: 1 / 3 / span 2 / span 1;
	display: flex;
	width:350px;
	padding-left: 15px;}

.bottomphoto {
	display: flex;
	justify-content: center;
	align-items: center;}
.bottomphoto > img {
	height: 150px;
	width: 850px;}

.rightphoto {
	display: flex;
	height: 652px;
	width: 160px;
	justify-content: center;
	align-items: center;}
.rightphoto > img {
  height:100%
}
	
.firstpart > h2 {
	margin-top: 20px;
	font-size: 50px;
	font-family: Arial;
	text-decoration: underline;}
.secondpart > h2 {
	margin-top: 20px;
	font-size: 50px;
	font-family: Arial;
	text-decoration: underline;}

.sieunfirst > h2 , .sieunsecond > h2 {
  font-size: 34px;}

.isafirst > h2 , .isasecond > h2 {
  font-size: 45px;}

.seeunfirst > h2 , .seeunsecond > h2 {
  font-size: 43px;}

.yoonfirst > h2 , .yoonsecond > h2 {
  font-size: 39px;}

.jfirst > h2 , .jsecond > h2 {
  font-size: 41px;}

.suminfirst > ul > li , .suminsecond > ul > li , .suminsou , .suminsou > p > a {
	color: #dac7af;}
.suminfirst > h2 , .suminsecond > h2 , .suminnav > a{
	color:#937c7c;}

.sieunfirst > ul > li , .sieunsecond > ul > li , .sieunsou , .sieunsou > p > a {
	color: #e3cba4;}
.sieunfirst > h2 , .sieunsecond > h2 , .sieunnav > a{
	color:#d05544;}

.isafirst > ul > li , .isasecond > ul > li , .isasou , .isasou > p > a{
	color: #e6bc7d;}
.isafirst > h2 , .isasecond > h2 , .isanav > a{
	color:#b66542;}

.seeunfirst > ul > li , .seeunsecond > ul > li , .seeunsou , .seeunsou > p > a{
	color: #b39f9d;}
.seeunfirst > h2 , .seeunsecond > h2 , .seeunnav > a{
	color:#99465c;}

.yoonfirst > ul > li , .yoonsecond > ul > li , .yoonsou , .yoonsou > p > a{
	color: #b3ae9d;}
.yoonfirst > h2 , .yoonsecond > h2 , .yoonnav > a{
	color:#ba657d;}

.jfirst > ul > li , .jsecond > ul > li , .jsou , .jsou > p > a{
	color: #d9faa5;}
.jfirst > h2 , .jsecond > h2 , .jnav > a{
	color:#5cbc8c;}

.source {
  margin-left: 150px;}
.soutit {
  font-size:18px;}

.nav {
  display:flex;
  flex-direction: row;
  justify-content:space-around;}
.nav > a {
  font-size: 25px;}

li {
  font-size: 17px;}