kkkk kk kiiiiiiiiiiiiiiib      jj jm,body {
	background-color:#cadff6;}

a:link, a:visited, a:active {
	text-decoration:none;
	color: black;}
	
a:hover {
	font-weight: bold;}

.title {
	grid-area: title;
	width: 320px;}
.medialinks {
	grid-area: medialinks;
	width: 320px;
	text-align: center;}
.mvlinks {
	grid-area: mvlinks;
	width: 320px;
	text-align: right;}

.header{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 1200px;
	margin: auto;
	margin-bottom: 15px;
	margin-top: 20px;}

.title > h1 {
	font-size:50px;
	margin: 0;}
.title > h2 {
	font-size:28=px;}
	
.medialinks > p {
	font-size: 14px;}
	
.mvlinks > p {
	font-size: 18px;}
	
.bodygrid {
	display:grid;
	grid-template-columns: auto auto;
	width: 1200px;
	margin: auto;}
.bodypart {
	padding: 5px;
	width: 590px;}
	
.part1 {
	display: flex;
	justify-content: center;
	align-items: center;}
.part3, .part4 {
	text-align: center;}

.part2 {
	display:grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-content: space-around;}
.smallphoto {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 110px;
	width: 150px;}
.smallphoto > img {
	height: 110px;
	width:150px;}
	
.caption {
	display:flex;
	flex-direction:column;
	text-align: center;}
.caption > p {
	font-weight: bold;}
	
.largephoto {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 560px;
	margin: auto;
	margin-bottom: 15px;}
.largephoto > img {
	height: 400px;
	width:560px;}
	
.part3 > h3 {
	margin-bottom: 15px;
	font-size:28px;}
	
.part4 > h2 {
	font-size: 33px;}

.disc > div > h1 {
  font-size: 40px;
  text-align:center;
}

.musicvids {
  display:grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;
  alighn-items:center;
  margin:auto;}

.albumcap {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;}
.albumcap > h2 {
  font-size: 30px;}
.albumcap > h3 {
  font-size: 24px;}

.source {
  display:flex;
  justify-content:center}
.soutit {
  font-size: 18px;}

img {
	border-radius: 10px;}

h1, h2, h3, p {
	margin:0;
	font-family: Arial;}

h1, h2, h3 {
	color: #340a45;}
	
p {
	color:#331a0a;}
	
h3 {
	font-size: 28px;}